services:
  uptime-kuma:
    build:
      context: .
      dockerfile: docker/dockerfile  
    image: uptime-kuma-local
    volumes:
      - ./data:/app/data
    ports:
      # <Host Port>:<Container Port>
      - 3001:3001
    restart: unless-stopped
